html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   padding:0px;
   min-height: 100%;
   width: 100%;
}

.center > p {
	text-indent:30px;
	padding:5px;
	font: 48px Arial;
}

footer > p {
	text-align:center;
}

#main {
	display: flex;
    flex-flow: row;
    min-height:100%;
}

#center {
	flex: 1 85%;
	order: 2;

	display:flex;
	flex-flow:row;

	background:#EEE;

	height:100%;
	overflow:auto;
}

/* Main feed stuff */

#content_wrapper {	
	order:2;
	flex: 1 0 90%;

	height:100%;
}

.card {
	margin-top:30px;
	margin-bottom:30px;
	background:#FFF;
  	box-shadow: 2px 4px 1px #DDD;
  	padding:10px;
  	border-radius:7px;
}

#left_space {
	order:1;
	flex: 0 0 5%;
}

#right_space {
	order:3;
	flex: 0 0 5%
}

.card.mono, .mono {
    font-family: "Courier New", Courier, monospace;
    color:red;
}
