html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
}

.center > p {
	text-indent:30px;
	padding:5px;
	font: 48px Arial;
}

footer > p {
	text-align:center;
}

.main {
	display: flex;
    flex-flow: row;
    min-height:100%;
    border-bottom:2px solid;
}

.center {
	flex: 1 85%;
	order: 2;

	background:#d9d9d9;
}

/* Left navbar stuff */

#leftnav_wrapper {
	order: 1;
	flex: 0 2 18%;
	min-height:100%;

	display:flex;
	flex-flow:column;

	border-right:1px solid #595959;
}

#leftnav_top {
	flex: 0 2 auto;
	border-bottom:2px solid #595959;
	padding-top:10px;
	padding-bottom:10px;

	font-weight:bold;
	font-size:16px;
}

#leftnav_top > ul {
	margin:0; padding:0;
	padding-left:5px;
}

#leftnav_bot {
	flex: 1 2 auto;
	padding-top:10px;
}

#external_links {
	flex: 0 1 auto;
}

.nav_header {
	padding-left:5px;
	font-weight:bold;
}

.nobullets {	
	list-style: none outside none;
}

.nobullets > li:hover, .nobullets > li:focus {
	text-decoration:underline;
}

.li_icon {
	float: left;
	padding-right:5px;
}

.li_right_icon {
	float: right;
	padding-right:10px;
}

/* Top navbar stuff */

#top_navbar {
	margin-bottom: 0;
	border-bottom:1px solid #595959;
	background: #3D1573;
}

#top_navbar > .container-fluid {
	margin-left:-30px;
}

/* Removes hover response from brand since you can't click it */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color:transparent;
  color: #b3b3b3;
}

.navbar-default .navbar-brand {
  /*stuff for centering the brand from http://www.bootply.com/98314 */
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;

    color: #b3b3b3;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #b3b3b3;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d9d9d9;
    text-decoration:underline;
}