html {
   margin: 0px;
   height: 100%;
   width: 100%;
}

body {
   margin: 0px;
   padding:0px;
   min-height: 100%;
   width: 100%;
}

.center > p {
	text-indent:30px;
	padding:5px;
	font: 48px Arial;
}

footer > p {
	text-align:center;
}

#main {
	display: flex;
    flex-flow: row;
    min-height:100%;
    border-bottom:2px solid;
}

#center {
	flex: 1 85%;
	order: 2;

	display:flex;
	flex-flow:row;

	background:#b3b3b3;

	height:100%;
	overflow:auto;
}

/* Main feed stuff */

#card_wrapper {	
	order:2;
	flex: 1 0 90%;

	height:100%;
}

.card {
	height:100px;
	margin-top:50px;
	margin-bottom:50px;
	background:#d9d9d9;
	border:1px solid black;
}

#left_space {
	order:1;
	flex: 0 0 5%;
}

#right_space {
	order:3;
	flex: 0 0 5%
}

/* Left navbar stuff */

#leftnav_wrapper {
	order: 1;
	flex: 0 2 18%;
	min-height:100%;

	display:flex;
	flex-flow:column;

	border-right:1px solid #595959;
    
    color:#111111;
}

#leftnav_top {
	flex: 0 2 auto;
	border-bottom:2px solid #595959;
	padding-top:10px;
	padding-bottom:10px;

	font-weight:bold;
	font-size:16px;
}

#leftnav_top > ul {
	margin:0; 
    padding:0;
	padding-left:5px;
}

#leftnav_bot {
	flex: 1 2 auto;
	padding-top:10px;
}

#incoming > .nav_header {
	color:#00802b;
}

#external_links {
	flex: 0 1 auto;
}

.nav_header {
	padding-left:5px;
	font-weight:bold;
}

.nobullets {	
	list-style: none outside none;
}

.nobullets > li > a {
    color: #111111
}

.nobullets > li > a:hover {
    text-decoration:underline;
}

#pinned > li {
   padding-bottom:6px; 
}

.li_icon {
	float: left;
	padding-right:5px;
}

.li_right_icon {
	float: right;
	padding-right:10px;
}

/* Top navbar stuff */

#top_navbar {	
    padding:0;
	margin:0;
	border-bottom:1px solid #595959;
	background: #3D1573;
	height:64px;
}

#top_navbar > .container-fluid {
    padding-top: 10px;
	margin-left:-48px;
}

/* Removes hover response from brand since you can't click it */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color:transparent;
  color: #b3b3b3;
}

.navbar-default .navbar-brand {
  /*stuff for centering the brand from http://www.bootply.com/98314 */
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0;    
    padding-bottom:0;

    color: #b3b3b3;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #b3b3b3;
    padding-left:5px;
    padding-top:5px;
    padding-bottom:0;
    margin-top:0;
    margin-bottom:0;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d9d9d9;
    text-decoration:underline;
}
