/* Left navbar stuff */

#leftnav_wrapper {
	order: 1;
	flex: 1 1 18%;
	min-height:100%;

	display:flex;
	flex-flow:column;

	border-right:2px solid #595959;
    
    color:#111111;
}

#leftnav_top {
	flex: 0 2 auto;
	border-bottom:2px solid #595959;
	padding-top:10px;
	padding-bottom:10px;

	font-weight:bold;
	font-size:16px;
}

#pinned > a > li:hover, #leftnav_bot li:hover, #external_links:hover {
   background-color: #F2E6FF
}

#leftnav_top > ul {
	margin:0; 
    padding:0;
	padding-left:5px;
}

#leftnav_top > ul > a {
    color: #111111
}

#leftnav_top > ul > a > li {	
	padding-bottom:5px;	
}

#leftnav_bot {
	flex: 1 2 auto;
	padding-top:10px;
}

#leftnav_bot > div > ul > a,
#external_links {
	color:#0000FF;
}

#incoming > .nav_header {
	color:#00802b;
}

.nav_header {
	padding-left:5px;
	font-weight:bold;
}

.nobullets {	
	list-style: none outside none;
}

.nobullets > li > a {
    color: #111111
}

.nobullets > li > a:hover {
    text-decoration:underline;
}

#pinned > li {
   padding-bottom:6px; 
}

.li_icon {
	float: left;
	padding-right:5px;
}

.li_right_icon {
	float: right;
	padding-right:10px;
}

#external_links {
	width:100%;
	flex: 0 1 auto;
}

#external_links > span > img {
	padding-right:5px;
}

#sao {
	cursor:pointer;
	color:#0000FF;
}

/* Top navbar stuff */

#top_navbar {	
    padding:0;    
	margin:0;
    border:none;
	border-bottom:1px solid #595959;
    background:#3D1573;
	height:64px;
    border-radius:0;
}

#top_navbar > .container-fluid {
    padding-top: 10px;
	margin-left:-44px;
}

#top_profile_img {
    padding-right:4px;
}

/* Removes hover response from brand since you can't click it */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background-color:transparent;
  color: #FFF;
}

.navbar-default .navbar-brand {
  /*stuff for centering the brand from http://www.bootply.com/98314 */
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0;    
    padding-bottom:0;

    color: #FFF;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #FFF;
    padding-left:5px;
    padding-top:5px;
    padding-bottom:0;
    margin-top:0;
    margin-bottom:0;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #BBB;
    text-decoration:underline;
}
